*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family:"OnePieceFont", cursive;
    
}
header{
    position: sticky;   /* To make the header stick at the top */
    top: 0;
    z-index: 1000;
    padding-top: 10px;
    background-color: whitesmoke;
    
}
.gear5{
    width: 60px;
    height: 60px;
    transition: all 0.2s linear;
}

/* adjusting the logo size */
.logo{
    width:150px;
    height: 50px;
    transition: all 0.2s linear
}

/* hover effect for the logo */
.logo:hover{
    width:160px;
    height: 53px;
}


nav{
    display: flex;
    justify-content: space-evenly;
    
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 2px;
    padding-top: 7px;
    transition: all 0.2s linear;
    border-radius: 10px;
    position: relative;
    display: inline-block
}

/* hover effect for all the links in navbar */
nav a:hover{
    font-size: 22px;
    color: #D32F2F;
    text-shadow: 2px 2px 15px #D32F2F;

}

/* pseudo-element to make the easter egg (mugiwara) appear */
nav a::before{
    content: "";
    position: absolute;
    top: -2px; 
    left: 6px;
    width: 40px;
    height: 40px;
    background-image: url("mugiwara.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transform: rotate(-15deg) translateY(10px); 
    transition: all 0.3s ease-in-out; 
    pointer-events: none;
    
}

/* applying transition to mugiwara to make it's appearance smooth */
nav a:hover::before{
    opacity: 1;
    transform: rotate(-3deg) translateY(0);
}

/* css for the parallax effect on the sea and the ship */
body {
  margin: 0;
  overflow-x: hidden; /* Prevents horizontal scrollbars */
 
}

/* to be able to scroll until the ship reaches the very end */
.scroll-wrapper{
        height: 1500px;
        position: relative;
}
/* contains both the back and the front layers. make it sticky so that it does not move */
.parallax-container {
  position: sticky;
  top: 10%;
  height: 50%; /* Make it tall so there is room to scroll */
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50px;
}
/* css for the back layer of the effect */
.sea-background {
  position: absolute; /* Keeps the sea visible while scrolling */
  top: 75;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-image: url('layer-back.jpg');
  background-size: cover;
  background-position: center;
}

/* css for the ship */
.ship {
  position: absolute;
  top: 25%; /* Adjust based on your sea's horizon */
  left: -471%; /* Start the ship off-screen to the left */
  width: 300px; /* Adjust size of your ship */
  z-index: 10;
  
  background-color: transparent;
  transform: scaleX(-1);
  width: 40vw;
  height: 70vh;
  
}
.welcome{
    z-index: 8;
    color: black;
    font-size: 8rem;
    position:absolute;
    left: 18%;
    top: 5%;
    text-shadow: 2px 2px 10px rgb(52, 147, 255);
    text-decoration: underline;
    background-color: transparent;
}
.ship-message{
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    text-shadow: 2px 2px 10px rgb(52, 147, 255);
    color: rgb(35, 33, 33);
    background-color: transparent;
    z-index: 8;
    
}

/* styling the section 2 */

.characters h1{
    text-align: center;
    margin-top: 3rem;
    font-size: 7rem;
}
.character-head{
    background-color: transparent;
    animation: character-div linear;
    animation-timeline: view();
    animation-range: entry 30% cover 70%;
    
}

.character-info{
    width: 90vw;
    height: 70vh;
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin: 0 auto;
    
    border-radius: 50px;
    padding: 2rem;
    animation: character-section ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;

}

.character-info div{
    height: 80%;
    border-radius: 25px;
    animation: character-grid ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.grid-element img{
    position: absolute;
    
}
.luffy{
    background-color: #D32F2F;
    transition: all 0.2s ease-in-out;
}
.zoro{
    background-color: #375949;
    transition: all 0.2s ease-in-out;
}
.sanji{
    background-color: #e0b002;
    transition: all 0.2s ease-in-out;
}
.robin{
    background-color: #480776;
    transition: all 0.2s ease-in-out;
}
.luffy:hover, .zoro:hover, .sanji:hover, .robin:hover{
    transform: scale(1.05);
}
.sectest{
    height: 100%;
    width: 100%;
    background-color: #425a79;
    z-index: 1000000;
}
















@font-face {
    font-family: "OnePieceFont";
    src: url("Pirata_One/PirataOne-Regular.ttf") format("truetype");
}
@keyframes character-div {

    from{
        opacity: 0;
        transform: translateX(-50%);
        
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes character-grid{
    from{
        border-radius: 800px;
    }
    to{
        border-radius: 25px;
    }
}
@keyframes character-section {
    from{
        opacity: 0;
        
        transform: translateX(50%)
    }
    to{
       
        opacity: 1;
        transform: translateX(0px);
    }
}