*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(80, 77, 77);
}
/* Styling the topnav */
.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(61, 58, 58);
    
}
.profile{
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: rgb(56, 54, 54);
    padding: 5px;
    color: white;
}
.ea{
    color: gray;
    text-decoration: none;
    font-size: 15px;
    
}

/* Styling the navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(27, 26, 26);
    padding: 8px;
    padding-left: 30px;
    align-items: center;
    position: sticky;
    top: 0;
    font-size: 15px;
}

.nav{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav *{
    text-decoration: none;
    color: white;
}
.downloadnow{
    background-color: red;
    padding: 10px;
    border: 1px solid red;
    border-radius: 7px;
    color: white;
}

/* navbar hover effects */
.nav a:hover{
   text-decoration: underline;
}

/* .content{
    height: 800px;
    width: 400px;
    color: orange;
} */

.amped{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin-top: 90px;
    
}

.amped-element{
    margin: 10px;
}

.amped h2{
    font-family: "Teko", sans-serif;
    transform: scaleX(0.6);
    line-height: 0.9;
    font-size: 60px;
}
.amped-logo{
    width: 90px;
    height:90px;
}

.amped button{
    background-color: red;
    padding:8px;
    color: white;
    border: 1px solid red;
    border-radius: 5px;
}
.footer{
    height: 800px;
    width: 400px;
    color: orange;
}