*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(80, 77, 77);
}
/* Styling the topnav */
.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(61, 58, 58);
    
}
.profile{
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: rgb(56, 54, 54);
    padding: 5px;
    color: white;
}
.ea{
    color: gray;
    text-decoration: none;
    font-size: 17px;
    
}

/* Styling the navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(27, 26, 26);
    padding: 15px;
    padding-left: 30px;
    align-items: center;
}

.nav{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav *{
    text-decoration: none;
    color: white;
}
.downloadnow{
    background-color: rgb(134, 2, 2);
    padding: 10px;
    border-radius: 7px;
    color: white;
}

/* navbar hover effects */
.nav a:hover{
   text-decoration: underline;
}